<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:util="http://www.springframework.org/schema/util"
  xmlns:aop="http://www.springframework.org/schema/aop"
  xmlns:tx="http://www.springframework.org/schema/tx"
  xmlns:context="http://www.springframework.org/schema/context"
  xmlns:jaxws="http://cxf.apache.org/jaxws"
  xmlns:jaxrs="http://cxf.apache.org/jaxrs"
  xmlns:cxf="http://cxf.apache.org/core"
  xsi:schemaLocation="
    http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
    http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
    http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-2.5.xsd
	http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd
    http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-2.5.xsd
    http://cxf.apache.org/core http://cxf.apache.org/schemas/core.xsd
    http://cxf.apache.org/jaxrs http://cxf.apache.org/schemas/jaxrs.xsd
    http://cxf.apache.org/jaxws http://cxf.apache.org/schemas/jaxws.xsd"
  default-autowire="byName">
	

  <!-- ******** BUSINESS/DOMAIN DECLARATIONS ******** -->
  
  
  <bean id="abstractDAO" class="com.cubeia.games.poker.admin.db.AbstractDAO">
    <property name="entityManagerFactory" ref="entityManagerFactory"/>
  </bean>
  
  
  <!-- ******** FRAMEWORK DECLARATIONS ******** -->
  
  <bean id="transactionManager" class="org.springframework.orm.jpa.JpaTransactionManager">
    <property name="entityManagerFactory" ref="entityManagerFactory"/>
  </bean>
  
  
  <tx:annotation-driven transaction-manager="transactionManager"/>
  
  <bean class="org.springframework.orm.jpa.support.PersistenceAnnotationBeanPostProcessor"/>



  <!-- ******** PERSISTENCE DECLARATIONS ******** -->

  <bean id="entityManagerFactory" class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
     <property name="jpaVendorAdapter">
        <bean class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter">
           <property name="showSql" value="false" />
           <property name="generateDdl" value="true" />
           <property name="databasePlatform" value="org.hibernate.dialect.MySQL5Dialect" />
        </bean>
     </property>
  </bean>

  <!-- MySQL Datasource -->
  <!-- 
  <bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
    <property name="driverClassName" value="com.mysql.jdbc.Driver"/>
    <property name="url" value="jdbc:mysql://localhost:3306/poker"/>    
    <property name="username" value="root"/>
    <property name="password" value="root"/>
  </bean>
  -->


  <!-- JNDI datasource, this is preferred as the ds config is external to the code -->
  <bean id="dataSource"
    class="org.springframework.jndi.JndiObjectFactoryBean" lazy-init="true">
    <property name="jndiName" value="java:comp/env/jdbc/pokerDS" />
  </bean>



  
</beans>